
<% if flash[:notice] %>
  <div class='alert alert-danger'>
    <div class="notice"><%= flash[:notice] %></div>
  </div>
<% end %>


<h1>Semestres</h1>

<% if @semester and @semester.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@semester.errors.count, "erro impediu", "erros impediram") %> essa candidatura de ser salva:</h3>

    <ul>
    <% @semester.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.semester.name') %></th>
      <th><%= t('activerecord.attributes.semester.open') %></th>
      <th><%= t('activerecord.attributes.semester.evaluation_period') %></th>
      <th> Data de início </th>
      <th> Data de fim </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @semesters.each do |semester| %>
      <tr>
        <td><%= semester.year %>/<%= semester.parity_as_i %></td>
        <td>
          <div class="row">
            <div class="col-sm-3">
              <%= semester.state_as_s %>
            </div>
            <div class="col-sm-9">
              <% if semester.open %>
                <%= small_button_link_to "Desativar", deactivate_semester_path(semester), :method => 'post' %>
                <%= small_button_link_to "Fechar inscrições", close_semester_path(semester), :method => 'post' %>
              <% elsif semester.active %>
                <%= small_button_link_to "Desativar", deactivate_semester_path(semester), :method => 'post' %>
                <%= small_button_link_to "Abrir inscrições", open_semester_path(semester), :method => 'post' %>
              <% else %>
                  <%= small_button_link_to "Ativar", activate_semester_path(semester), 
                    :method => 'post' %>
              <% end %>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <% if semester.evaluation_period %>
              <div class="col-sm-3">
                Aberto
              </div>            
              <div class="col-sm-4"  style="margin-left:15px">
                <%= small_button_link_to "Fechar", close_semester_evaluation_period_path(semester), method: :post if semester.active %>
              </div>
            <% else %>
              <div class="col-sm-3">
                Fechado
              </div>
              <div class="col-sm-4" style="margin-left:15px">
                <%= small_button_link_to "Abrir", open_semester_evaluation_period_path(semester), method: :post if semester.active %>
              </div>
            <% end %>
          </div>
        </td>
        <td>
          <div class="row">
            <div class='col-sm-7'> 
              <% if (semester.started_at != nil) %> 
                <%= semester.started_at.strftime("%d/%m/%Y") %> 
              <% end %>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class='col-sm-8'> 
              <% if (semester.finished_at != nil) %> 
                <%= semester.finished_at.strftime("%d/%m/%Y") %> 
              <% end %>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class='col-sm-9'> 
              <div class="col-sm-4">
                <%= small_button_link_to "Editar datas", 
                semester_edit_date_path(semester) %>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to "Adicionar semestre", { controller: "semesters", :action => "create", :method => 'post'}, { class: "btn btn-primary" } %>
