<h1 style="display: inline-block">Usuários</h1>
<div style="text-align:center" class="biggerText">
    <input type="checkbox" onchange="" id="alunos" value="alunos"> Alunos
    <input type="checkbox" onchange="" id="professores" value="professores"> Professores
</div>
<hr>

<table class="table table-hover" id="users_table">
  <thead>
    <tr>
      <th colspan="5"><%= t('activerecord.attributes.user.user') %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.sort { |x,y| x[:name].downcase <=> y[:name].downcase }.each do |user| %>
      <tr>
        <td class="name"><%= user.name %></td>
        <td><%= "#{user.nusp}" %></td>
        <td>
          <% if user.professor? and user.student? %>
            aluno e professor
          <% elsif user.student? %>
            aluno
          <% elsif user.professor? %>
            professor
          <% elsif user.incomplete? %>
            cadastro incompleto
          <% end %>
        </td>
        <td><%= button_link_to "Ver perfil", user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
