
<h1>Monitores eleitos para <%= @semester.as_s %></h1>

<div class="row" style="height:1em;"></div>

<div class="row">
  <!-- Seletor de semestres -->
  <div class="col-sm-3">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <%= @semester.as_s %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% Semester.all.order(created_at: :desc).each do |semester| %>
          <li><%= link_to semester.as_s, assistant_roles_for_semester_path(semester)%></li>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- Seletor de departamento -->
  <% if (secretary_signed_in? or current_hiper_professor?) %>
    <div class="col-sm-1">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          <% if @department.nil? %>
            Todos
          <% else %>
            <%= @department.code %>
          <% end %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "Todos", assistant_roles_for_semester_path(@semester) %>
          </li>
          <% Department.all.order(code: :desc).each do |department| %>
            <li><%= link_to department.code, assistant_roles_for_semester_and_department_path(@semester, department)%></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if secretary_signed_in? and @semester.current? %>
    <div class="col-sm-2">
      <%= button_link_to "Notificar monitores", notify_assistant_roles_for_semester_path(@semester), method: :post %>
    </div>
    <div class="col-sm-2">
      <% unless Rails.env.production? %>
        <%= button_link_to "Pedir avaliações dos professores", request_assistant_evaluations_for_semester_path(@semester), method: :post %>
      <% end %>
    </div>
  <% else %>
    <div class="col-sm-10"></div>
  <% end %>
</div>

<div class="row" style="height:1em;"></div>

<table id="roles_table" class="table table-hover">
  <thead>
    <tr>
      <th>Aluno(a)</th>
      <th>Disciplina</th>
      <th>Professor(a)</th>
      <th>Início</th>
      <th>Fim</th>
      <th>Estado</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @assistant_roles.each do |role| %>
      <tr>
        <td>
    			<% if role.student.name != nil %>
            <%=  role.student.name %>
    			<% else %> Nil <% end %>
		    </td>
        <td><%= role.course.course_code %></td>
        <td><%= role.professor.name %></td>

        <!-- Data de inicio -->
        <td>
    			<% if not role.started_at.nil? %>
    				<%= role.started_at.strftime("%d/%m/%Y") %>
    			<% else %>
  				  Indeterminado
  			   <% end %>
  		  </td>

        <!-- Data de fim -->
        <td>
          <% if role.finished_at? %>
            <%= role.finished_at.strftime("%d/%m/%Y") %>
          <% else %>
            Indeterminado
          <% end %>
        </td>

        <!-- Estado -->
        <td>
          <% if role.uncertain? %>
            Não definitivo
          <% elsif role.active? %>
            Ativo(a)
          <% else %>
            Inativo(a)
          <% end %>
        </td>

        <!--  Menu de ações -->
        <td>
          <% if secretary_signed_in? or current_super_professor? %>

            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="caret"></span>
              </button>

              <!-- Ativar/desativar monitor -->
              <ul class="dropdown-menu">
                <!-- Relatório -->
                <% if role.report_filled? %>
                  <li>
                    <%= link_to 'Ver relatório', print_report_path(role.id, :format => :pdf), target: "_blank" %>
                  </li>
                <% end %>

                <% if secretary_signed_in? %>
                  <%if role.uncertain? %>
                    <li>
                      <%= link_to "Efetivar", make_assistant_role_definitive_path(role), method: :patch, data: { confirm: 'Deseja mesmo tornar esse monitor ou monitora definitivamente eleito? Essa informação ficará acessível a eles!'} %>
                    </li>
                  <% end %>
                  <!-- Ativar/desativar (obsoleto) -->
                  <%if role.active %>
                    <li>
                      <%= link_to "Desativar", deactivate_assistant_role_path(role.id), method: :post, data: { confirm: 'Deseja mesmo desativar este monitor?' } %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to "Reativar", reactivate_assistant_role_path(role.id), method: :post, data: { confirm: 'Deseja mesmo reativar este monitor?' } %>
                    </li>
                  <% end %>
                  <!-- Gerar atestado -->
                  <li>
                    <%= link_to "Atestado", certificate_path(role.id, :format => :pdf), method: :get, target: "_blank" %>
                  </li>
                  <!-- Editar periodo de monitoria -->
                  <li>
                    <%= link_to "Editar período", assistant_roles_edit_date_path(role) %>
                  </li>
                  <!-- Remover monitor -->
                  <li>
                    <%= link_to "Remover", destroy_assistant_role_path(role), method: :delete, data: { confirm: 'Deseja mesmo remover PERMANENTEMENTE esse monitor?'} %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
