
<h1>Meus monitores</h1>

<% if flash[:notice] %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end -%>

<div class="row">
  <div class="col-sm-4">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <%= @semester.as_s %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% Semester.all.reverse.each do |semester| %>
          <li><%= link_to semester.as_s, assistant_roles_for_professor_and_semester_path(@professor, semester)%></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-sm-8"></div>
</div>

<div class="row" style="height:1em;"></div>

<ul class="list-group">
  <% @assistant_roles.each do |role| %>
    <li class="list-group-item">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <h4 class="list-group-item-heading">
              <%= link_to role.student.name, role.student.user %>
            </h4>
            <p class="list-group-item-text">
              <% if role.student.is_male? %>
                Monitor de <%= role.request_for_teaching_assistant.course.course_code %>
              <% else %>
                Monitora de <%= role.request_for_teaching_assistant.course.course_code %>
              <% end %>
            </p>
          </div>
          <div class="col-sm-8">
            <% if role.active %>
              <div class="row">
                <% @semester.months.each do |month| %>
                  <div class="col-sm-3 text-center">
                    <div class="row">
                      <%= "#{months_to_names[month]}" %>:
                    </div>
                    <div class="row">
                      <% status = role.frequency_status_for_month(month) %>
                      <% color = "black" %>
                      <% if status == "Pendente" and role.semester.frequency_open?Semester.month_to_period(month) %>
                        
                        <div class="col-sm-12 col-lg-6 text-center">
                          <%= button_to "Presente", { controller: "assistant_frequency", action: "mark_assistant_role_frequency", role: role.id, month: month, presence: true, pid: role.professor.id}, method: :post, class: "btn btn-primary btn-xs", data: { confirm: 'Deseja mesmo marcar presença para este monitor?' } %>
                        </div>
                        <div class="col-sm-12 col-lg-6 text-center">
                          <%= button_to "Ausente", { controller: "assistant_frequency", action: "mark_assistant_role_frequency", role: role.id, month: month, presence: false, pid: role.professor.id}, method: :post, class: "btn btn-primary btn-xs", data: { confirm: 'Deseja mesmo marcar ausência para este monitor?' }  %>
                        </div>
                      <% else %>
                        <% if status == "Presente"
                              color = "green"
                           elsif status == "Ausente"
                              color = "red"
                           elsif status == "Pendente"
                              color = "gray"
                            elsif status == "Pago"
                              color = "blue"
                            elsif status == "---"
                              color = "darkgoldenrod"
                           else
                              color = "fucsia"
                           end
                        %>
                        <div class="row">
                          <%= content_tag :span, style: "color:#{color};" do -%>
                            <%= status %>
                          <% end -%>
                          <% if status != "Pendente" && status != "---" %>
                            <%= link_to edit_assistant_frequency_comment_path(role.frequency_for_month(month)), "data-toggle" => "tooltip", title: "Fazer observação" do %>
                                <span class="glyphicon glyphicon-comment"></span>
                            <% end %>
                          <% end %>
                        </div>
                        <div class="row">
                          <% if status != "Pendente" && status != "---" %>
                            <%= role.frequency_for_month(month).comment %>
                          <% end %>
                        </div>
                      <% end %>
                      </div>
                  </div>
                <% end %>
              </div>
            <% else %>
              <p class="text-center">Desativado</p>
            <% end %>
          </div>
        </div>
        <div style="height:1em;"></div>
        <div class="row text-center">
          <% if @semester.evaluation_period %>
            <% if role.assistant_evaluation %>
              <%= button_link_to "Mudar avaliação", edit_assistant_evaluation_path(role.assistant_evaluation) %>
            <% else %>
              <%= button_link_to "Avaliar", new_assistant_evaluation_path(role) %>
            <% end %>
          <% elsif role.assistant_evaluation %>
            <%= button_link_to "Ver avaliações", assistant_evaluations_for_student_path(role.student) %>
          <% else %>
            <%= button_link_to "Avaliar", "#", class: "btn btn-info disabled"%>
          <% end %>
          <% if role.report_filled? %>
            <%= button_link_to "Imprimir relatório", print_report_path(role.id, :format => :pdf), target: "_blank" %>
          <% else %>
            <%= button_link_to "Imprimir relatório", "#", class: "btn btn-info disabled"%>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
