<h1>Disciplinas</h1>

<div class="row">
  <%= button_link_to "Cadastrar disciplina", new_course_path %>
</div>

<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.course.course_code') %></th>
        <th><%= t('activerecord.attributes.course.name') %></th>
      </tr>
    </thead>

    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <% if course.status %>
            <td><%= button_link_to course.course_code, course %></td>
            <td><%= course.name %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
